VITE_AWS_REGION=eu-central-1
VITE_COGNITO_USER_POOL_ID=eu-central-1_FlRCDjc1y
VITE_COGNITO_CLIENT_ID=5miub38roao9b1iqt4okr9ted6
# Dostarcz przez AWS, nie wpisuj przykładowej domeny.
# Domena Hosted UI Cognito, przyjmowana z https:// lub bez protokołu.
VITE_COGNITO_DOMAIN=https://eu-central-1flrcdjc1y.auth.eu-central-1.amazoncognito.com
# Invoke URL API Gateway bez końcowego /api.
VITE_API_BASE_URL=https://3vihm216h8.execute-api.eu-central-1.amazonaws.com